<!DOCTYPE html>
<html>

<head>
    <title>Botino BE</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-app="webPortalApp">

<nav ng-controller="HomeController" class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="#">Botino BE</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a ng-click="goHome()">Home</a></li>
        <li><a ng-click="goHistory()">History</a></li>
        <li><a ng-click="goSummary()">Summary</a></li>
    </ul>
</nav>

<div class="container">
    <div ui-view></div>
</div>

<footer class="text-center">
    <p>2018 - <a href="http://www.github.com/mauriciojost" target="_blank">Mauricio Jost</a></p>
</footer>

<script src="js/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-sanitize.min.js"></script>
<script src="js/angular-ui-router.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/bootstrap-dialog.js"></script>
<script src="js/app.js"></script>

</body>

</html>
