<!DOCTYPE html>
<html>

<head>
    <title>Main4ino</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-app="webPortalApp">

<nav ng-controller="HomeController" class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="#">Main4ino</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a ng-click="goHome()">Home</a></li>
        <li><a ng-click="goHistory()">History</a></li>
        <li><a ng-click="goSummary()">Summary</a></li>
    </ul>
</nav>

<div class="container">
    <div ui-view></div>
</div>

<footer class="text-center">
    <p>2018 - <a href="http://www.github.com/mauriciojost" target="_blank">Mauricio Jost</a></p>
</footer>
<!--
<script src="js/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-sanitize.min.js"></script>
<script src="js/angular-ui-router.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/bootstrap-dialog.js"></script>
-->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="https://code.angularjs.org/1.2.26/angular.min.js"></script>
<script type="text/javascript" src="https://code.angularjs.org/1.2.26/angular-sanitize.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.30/js/bootstrap-dialog.min.js"></script>

<script type="text/javascript" src="js/app.js"></script>

</body>

</html>
