<!DOCTYPE html>
<!--

Examples:
  https://angular-ui.github.io/bootstrap/versioned-docs/2.5.0/

-->
<html>

<head>
    <title>Main4ino</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        textarea {
            resize: none;
        }
        .dialog-vertical-center .modal-dialog {
            margin-top: 30%;
        }
        .myTable{
            table-layout: fixed;
        }
        .myTable td{
            text-overflow: ellipsis;
            overflow-x: hidden;
            overflow: auto;
        }
    </style>

</head>

<body ng-app="webPortalApp">

<nav ng-controller="LoginController" class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="#">Main4ino</a>
    </div>
    <ul style="display:{{ $root.logged ? 'inherit' : 'none' }};" class="nav navbar-nav">
        <li><a ng-click="goControl()">Control</a></li>
        <li><a ng-click="goHistory()">History</a></li>
        <li><a ng-click="goLog()">Logs</a></li>
        <li><a ng-click="goAdministrate()">Administrate</a></li>
    </ul>
    <ul style="display:{{ $root.logged ? 'inherit' : 'none' }};" class="nav navbar-nav">
        <li ng-repeat="(dv, alias) in $root.aliases track by $index">
            <a ng-click="switchTo(dv)">{{ dv }}/{{ alias }}</a>
        </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li><a ng-click="goLogin()" style="color:{{ $root.logged ? 'green' : 'white' }};">{{ $root.logged ? "Log out '" + $root.logged + "'" : "Login"}}</a></li>
    </ul>
</nav>

<div class="container">
    <div ui-view></div>
</div>

<footer class="text-center">
    <p>2020 - <a href="http://www.github.com/mauriciojost/main4ino-server" target="_blank">Main4ino</a></p>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="https://code.angularjs.org/1.6.1/angular.min.js"></script>
<script type="text/javascript" src="https://code.angularjs.org/1.6.1/angular-route.min.js"></script>
<script type="text/javascript" src="https://code.angularjs.org/1.6.1/angular-sanitize.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.23/angular-ui-router.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.30/js/bootstrap-dialog.min.js"></script>
<!--
<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="../bower_components/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script type="text/javascript" src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.min.js"></script>
-->

<script type="text/javascript" src="js/app.js"></script>

</body>

</html>
