<div class="page-header">
  <h2>Search</h2>
</div>

<div ng-controller="SearchController">
 
	<div class="panel panel-info">
		<div class="panel-heading">
		<h3>1. Write your search parameters</h3>
		<br/>
		<div class="bs-doc-grid">
			<div class="row show-grid" ng-repeat="filter in request.filters">
				<div class="col-xs-6 col-sm-2" ng-show="$first">Events such that property</div>
				<div class="col-xs-6 col-sm-2" ng-show="!$first">and property</div>
			
				<div class="col-xs-6 col-sm-2">
					<input type="text" name="property" class="form-control" ng-model="filter.property" placeholder="Property"/>
				</div>
				<div class="col-xs-6 col-sm-2">
					<select class="form-control" id="operator" ng-model="filter.operator" placeholder="Operator">
						<option>EQ</option>
						<option>LT</option>
						<option>GT</option>
						<option>WD</option>
					</select>
				</div>
				<div class="col-xs-6 col-sm-2">
		      		<input type="text" name="value" class="form-control" ng-model="filter.values[0]" placeholder="Value"/>
				</div>
				<div class="col-xs-6 col-sm-2" ng-show="$last">
  					<button ng-click="addFilter();" type="button" class="btn btn-default btn-sm">+</button>
					<button ng-click="removeFilter();" type="button" class="btn btn-default btn-sm">-</button>
				</div>
			</div>
		</div>
		
		<br/>

		<div class="bs-doc-grid">
	   		<div class="row show-grid">
		   		<div class="col-xs-6 col-sm-2">Sort events by property</div>
		   		
		   		<div class="col-xs-6 col-sm-2">
		      		<input type="text" name="property" class="form-control" ng-model="request.order.property"  placeholder="Property"/>
		   		</div>
		   	
				<div class="col-xs-6 col-sm-2">with direction</div>

		   		<div class="col-xs-6 col-sm-2">
					 <select class="form-control" id="direction" ng-model="request.order.direction"  placeholder="Direction">
			        	<option>ASC</option>
				        <option>DESC</option>
				    </select>		
		   		</div>
	   		</div>
		
		</div>

		<br/>

		<div class="bs-doc-grid">
	   		<div class="row show-grid">
				<div class="col-xs-6 col-sm-2">Retrieve a maximum of</div>
		   		<div class="col-xs-6 col-sm-2">
		      		<input type="number" name="documents" class="form-control" ng-model="request.pagination.documents" placeholder="Documents"/>
		   		</div>
				<div class="col-xs-6 col-sm-2">events from page</div>
		   		<div class="col-xs-6 col-sm-2">
		   			<input type="number" name="page" class="form-control" ng-model="request.pagination.page" placeholder="Page"/>
				    </select>		
		   		</div>
			</div>
		</div>
		<br/>
	</div>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading">
			<container>
				<h3>2. Search events matching the criteria</h3>
				<br/>
				<div class="text-center">
					<button ng-click="search();" type="button" class="btn btn-lg btn-primary">Search</button>
				</div>
				<br/>
			</container>
		</div>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">
			<container>
				<h3>3. Observe resulting events</h3>
				<br/>
				<div>
				    <table class="table table-striped table-bordered">
				    	  <thead>
				        	<tr>
				            	<th>Type</th>
				            	<th>Event time</th>
				            	<th>Zone offset</th>
				            	<th>Action</th>
				            	<th>...</th>
				        	</tr>
				    	</thead>
				        <tbody>
				            <tr ng-repeat="event in result.events">
				                <td>{{ event.type }}</td>
				                <td>{{ event.eventTime | date : 'yyyy-MM-dd HH:mm:ss.sssZ' : event.eventTimeZoneOffset}}</td>
				                <td>{{ event.eventTimeZoneOffset }}</td>
				                <td>{{ event.action }}</td>
				                <td>
				                	<div>
  										<button class="btn btn-xs btn-default" ng-click="show($index);">More...</button>
  									</div>
				                </td>
				            </tr>
				            <tr ng-show="result.hasmore">
				                <td>More events available on next page...</td>
				                
				            </tr>
				                        
				        </tbody>
				    </table>
				</div>
			</container>
		</div>
	</div>
</div>
