<div class="page-header">
    <h2>Log</h2>
</div>

<div ng-controller="LogController">

    <div class="panel panel-info">
        <div class="panel-heading">
            <container>
                <h3>1. Specify your device information</h3>
                <br/>
                <div>
                    <input type="text" name="device" class="form-control" ng-model="device" placeholder="Device Name"/>
                    <input type="number" name="fromDay" class="form-control" ng-model="from" placeholder="From [days]"/>
                    <input type="number" name="toDay" class="form-control" ng-model="to" placeholder="To [days]"/>
                </div>
            </container>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <container>
                <h3>2. Get logs</h3>
                <br/>
                <div class="text-center">
                    <button ng-click="getLogs();" type="button" class="btn btn-lg btn-primary">Get</button>
                </div>
                <br/>
            </container>
        </div>
    </div>

    <div class="panel">
        <div">
            <container>
                <h3>3. Investigate logs for {{ queriedDevice }}</h3>
                <br/>
                <div>
                    <table class="table table-sm table-dark table-hover table-condensed">
                        <colgroup>
                            <col span="1" style="width: 30%;">
                            <col span="1" style="width: 70%;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>Timestamp</th>
                            <th>Logs</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="i in logs">
                            <td class="col">{{ i.t * 1000 | date:'yyyy-MM-dd HH:mm:ss Z' }}</td>
                            <td class="col">{{ i.content }} </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </container>
        </div>
    </div>

</div>
