<div class="page-header">
    <h2>Login</h2>
</div>

<div ng-controller="LoginController">

    <div class="alert alert-success" ng-hide="logged == null" role="alert">
        You are logged in as '{{ logged }}'.
    </div>
    <div class="alert alert-danger" ng-hide="logged != null" role="alert">
        You are not logged in. Log in first.
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <container>
                <h3>1.1. Specify your credentials</h3>
                <br/>
                <div>
                    <input type="text" name="username" class="form-control" ng-disabled="logged != null" ng-model="username" placeholder="Username"/>
                    <input type="password" name="password" class="form-control" ng-disabled="logged != null" ng-model="password" placeholder="Password"/>
                </div>
            </container>
            <container>
                <h3>1.2. Specify your preferences</h3>
                <br/>
                <div>
                    <input type="text" name="devicesStr" class="form-control" ng-disabled="logged != null" ng-model="devicesStr" placeholder="Comma-separated list of devices"/>
                </div>
            </container>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <container>
                <h3>2. Login</h3>
                <br/>
                <div class="text-center">
                    <button ng-click="rememberCredentials();" ng-disabled="logged != null" type="button" class="btn btn-lg btn-primary">Log in</button>
                </div>
                <br/>
            </container>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <container>
                <h3>3. Log out</h3>
                <br/>
                <div class="text-center">
                    <button ng-click="removeCredentials();" ng-disabled="logged == null" type="button" class="btn btn-lg btn-primary">Log out</button>
                </div>
                <br/>
            </container>
        </div>
    </div>

</div>

