<div class="page-header">
    <h2>History</h2>
</div>

<div ng-controller="HistoryController">

    <div class="panel panel-info">
        <div class="panel-heading">
            <container>
                <h3>1. Specify your device information</h3>
                <br/>
                <div>
                    <input type="text" name="device" class="form-control" ng-model="device" placeholder="Device Name"/>
                    <input type="number" name="fromDay" class="form-control" ng-model="from" placeholder="From [days]"/>
                    <input type="number" name="untilDay" class="form-control" ng-model="until" placeholder="Until [days]"/>
                    <div class="radio"><label><input type="radio" ng-model="tabl" value="reports">Reports</label></div>
                    <div class="radio"><label><input type="radio" ng-model="tabl" value="targets" checked>Targets</label></div>
                </div>
            </container>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <container>
                <h3>2. Get history</h3>
                <br/>
                <div class="text-center">
                    <button ng-click="search();" type="button" class="btn btn-lg btn-primary">Get</button>
                </div>
                <br/>
            </container>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <container>
                <h3>3. Observe result for {{ queriedDevice }}</h3>
                <br/>
                <div>
                    <table class="table table-striped table-bordered myTable">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Timestamp</th>
                            <th>Actor / Property / Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="i in result track by $index">
                            <td class="col-md-3">{{ i.dbId.id }}</td>
                            <td class="col-md-3">{{ i.dbId.creation * 1000 | date:'yyyy-MM-dd HH:mm:ss Z' }}</td>
                            <td class="col-md-3">
                                <table ng-repeat="(actor, props) in i.device.actors track by $index"
                                       class="table table-bordered">
                                    <tbody>
                                    <tr ng-repeat="(pname, pvalue) in props track by $index">
                                        <td class="col-md-3">{{ actor }}</td>
                                        <td class="col-md-3">{{ pname }}</td>
                                        <td class="col-md-3">{{ pvalue }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </container>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <container>
                <h3>4. Retrieve logs</h3>
                <br/>
                <div class="text-center">
                    <button ng-click="getLogs();" type="button" class="btn btn-lg btn-primary">Retrieve logs</button>
                </div>
                <br/>
                <div class="text-left" style="white-space:pre-wrap;">{{ logs }}</div>
            </container>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <container>
                <h3>5. Administrate</h3>
                <br/>
                <div class="text-center">
                    <button ng-click="deleteDev();" type="button" class="btn btn-lg btn-primary">Delete history</button>
                </div>
                <br/>
            </container>
        </div>
    </div>

</div>
