<div class="page-header">
    <h2>Summary</h2>
</div>

<div ng-controller="SummaryController">

    <div class="panel panel-info">
        <div class="panel-heading">
            <container>
                <h3>1. Specify your device information</h3>
                <br/>
                <div>
                    <input type="text" name="device" class="form-control" ng-model="device" placeholder="Device Name"/>
                    <input type="password" name="token" class="form-control" ng-model="token" placeholder="Token"/>
                </div>
            </container>
        </div>

    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <container>
                <h3>2. Search status</h3>
                <br/>
                <div class="text-center">
                    <button ng-click="search();" type="button" class="btn btn-lg btn-primary">Search</button>
                </div>
                <br/>
            </container>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <container>
                <h3>3. Observe result</h3>
                <br/>
                <div>
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 10%">Device</th>
                            <th style="width: 90%">Actor</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ device }}</td>
                            <td>
                                <table ng-repeat="(actorRep, propsRep) in reportsSummary track by $index"
                                       class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th style="width: 15%"> {{ actorRep }} 's properties</th>
                                        <th style="width: 15%">Reported value</th>
                                        <th style="width: 15%">Target value</th>
                                        <th style="width: 55%">Set</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="(propNameRep, propValueRep) in propsRep track by $index">
                                        <td>{{ propNameRep }}</td>
                                        <td>{{ propValueRep }}</td>
                                        <td>
                                            <p class="text-warning">{{ targetsSummary[actorRep][propNameRep] }}</p>
                                        </td>

                                        <td>
                                            <form role="form">

                                                <div><p> {{ propDescriptions(actorRep, propNameRep) }} </p></div>
                                                <div class="input-group">
                                                    <input type="text" class="form-control"
                                                           ng-model="targetsTemporary[actorRep][propNameRep]"
                                                           readonly>
                                                    <div class="input-group-btn">
                                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                                data-toggle="dropdown"><span class="caret"></span>
                                                        </button>
                                                        <ul id="color-dropdown-menu"
                                                            class="dropdown-menu dropdown-menu-right" role="menu">
                                                            <li class="input-lg"><a ng-click="changeRequest(device, actorRep, propNameRep, propValueRep)">{{propValueRep}} -> Current value</a></li>
                                                            <li ng-repeat="x in propExamples(actorRep, propNameRep)"
                                                                class="input-lg"><a
                                                                    ng-click="changeRequest(device, actorRep, propNameRep, valueFromHelp(x))">{{x}}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </container>
        </div>
    </div>

</div>
