<div class="page-header">
  <h2>Device</h2>
</div>

<div ng-controller="DeviceSummaryController">
 
	<div class="panel panel-info">
		<div class="panel-heading">
            <container>
                <h3>1. Specify your device information</h3>
                <br/>
                <div>
                    <input type="text" name="device" class="form-control" ng-model="device" placeholder="Device Name"/>
                    <input type="password" name="token" class="form-control" ng-model="token" placeholder="Token"/>
                </div>
        </container>
        </div>

    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <container>
                <h3>2. Search status</h3>
                <br/>
                <div class="text-center">
                    <button ng-click="search();" type="button" class="btn btn-lg btn-primary">Search</button>
                </div>
                <br/>
            </container>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <container>
                <h3>3. Observe result</h3>
                <br/>
                <div>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Device</th>
                                <th>Actor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ reportsSummary.metadata.device }}</td>
                                <td>
                                    <table ng-repeat="(actorRep, propsRep) in reportsSummary.actors track by $index" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th> {{ actorRep }} 's properties</th>
                                                <th>Reported value</th>
                                                <th>Target value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="(propNameRep, propValueRep) in propsRep track by $index">
                                            <td class="col-md-3">
                                                <p>{{ propNameRep }}</p>
                                                <div><button class="btn btn-xs btn-default" ng-click="helpRequest(actorRep, propNameRep);">?</button></div>
                                            </td>
                                            <td class="col-md-3">{{ propValueRep }}</td>
                                            <td class="col-md-3">
                                                <p class="text-warning">{{ targetsSummary.actors[actorRep][propNameRep] }}</p>
                                                <div><button class="btn btn-xs btn-default" ng-click="changeRequest(reportsSummary.metadata.device, actorRep, propNameRep, propValueRep);">...</button></div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </container>
        </div>
    </div>

</div>
