<div class="page-header">
  <h2>Insert</h2>
</div>


<div ng-controller="InsertController">
 

	<div class="panel panel-info">
		<div class="panel-heading">
			<container>
				<h3>1. Set up the schema of your elasticsearch index</h3>
				<br/>
				<div class="text-center">
					<button ng-click="initialize();" type="button" class="btn btn-lg btn-primary">Initialize</button>
				</div>
				<br/>
			</container>
		</div>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading">
			<container>
				<h3>2. Write the events to insert</h3>
				<br/>
				<div>
					<textarea class="form-control span6" rows="8" placeholder="Events in json format" ng-model="request" required></textarea>
				</div>

			</container>
		</div>
	</div>
	
	<div class="panel panel-info">
		<div class="panel-heading">
			<container>
				<h3>3. Insert the events</h3>
				<br/>
				<div class="text-center">
					<button ng-click="insert();" type="button" class="btn btn-lg btn-primary">Insert</button>
				</div>
				<br/>
			</container>
		</div>
	</div>​


	<div class="panel panel-info">
		<div class="panel-heading">
			<container>
				<h3>4. Check the result</h3>
				<br/>
				<div class="text-center">
					<label>{{result}}</label>
				</div>
				<br/>
			</container>
		</div>
	</div>​

</div>


