<div class="page-header">
  <h2>Device</h2>
</div>

<div ng-controller="DeviceController">
 
	<div class="panel panel-info">
		<div class="panel-heading">
            <h3>1. Specify your device information</h3>
            <br/>
            <div class="bs-doc-grid">
                <div class="col-xs-6 col-sm-2">
                    <input type="text" name="device" class="form-control" ng-model="device" placeholder="Device Name"/>
                </div>

                <div class="col-xs-6 col-sm-2">
                    <input type="text" name="token" class="form-control" ng-model="token" placeholder="Token"/>
                </div>
            </div>

        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <container>
                <h3>2. Search status</h3>
                <br/>
                <div class="text-center">
                    <button ng-click="search();" type="button" class="btn btn-lg btn-primary">Search</button>
                </div>
                <br/>
            </container>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <container>
                <h3>3. Observe result</h3>
                <br/>
                <div>
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Timestamp</th>
                            <th>Device</th>
                            <th>Action</th>
                            <th>...</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="device in result track by $index">
                            <td>{{ device.metadata.id }}</td>
                            <td>{{ device.metadata.timestamp }}</td>
                            <td>{{ device.metadata.device }}</td>
                            <td>{{ device.actors[0] }}</td>
                            <td>
                                <div>
                                    <button class="btn btn-xs btn-default" ng-click="show($index);">More...</button>
                                </div>
                            </td>
                        </tr>
                        <tr ng-show="result.hasmore">
                            <td>More events available on next page...</td>

                        </tr>

                        </tbody>
                    </table>
                </div>
            </container>
        </div>
    </div>

</div>
