<div class="page-header">
    <h2>Log</h2>
</div>

<div ng-controller="LogController">

    <div class="panel panel-info">
        <div class="panel-heading">
            <container>
                <h3>Specify logs filters and mode for {{ queriedDevice }}</h3>
                <br/>
                <div class="row">
                    <div class="col-md-4">
                        <input type="number" name="fromHours" class="form-control" ng-model="fromHours" ng-change="updateRange()" placeholder="From [hours]"/>
                    </div>
                    <div class="col-md-4">
                        <pre>{{ fromDate }}</pre>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input type="number" name="toHours" class="form-control" ng-model="toHours" ng-change="updateRange()" placeholder="To [hours]"/>
                    </div>
                    <div class="col-md-4">
                        <pre>{{ toDate }}</pre>
                    </div>
                    <div class="radio"><label><input type="radio" ng-model="logsMode" ng-change="setLogsMode()" value="normal" checked>Normal</label></div>
                    <div class="radio"><label><input type="radio" ng-model="logsMode" ng-change="setLogsMode()" value="live">Live</label></div>
                </div>
                <br/>
                <div class="text-center">
                    <button ng-click="getLogs();" type="button" class="btn btn-lg btn-primary">Load</button>
                </div>
                <br/>
            </container>
        </div>
    </div>

    <div class="panel">
        <div>
            <container>
                <h3>Investigate logs for {{ queriedDevice }}</h3>
                <br/>
                <div>
                    <input type="text" name="filter" class="form-control" ng-model="filter" ng-change="updateFilter()" placeholder="Filter [regex]"/>
                </div>
                <br/>
                <div>
                    <pre>
                        {{applyFilter(logs, filter)}}
                    </pre>
                </div>
            </container>
        </div>
    </div>

</div>
