/.idea/
/target/
/project/target/
/project/project/target/
/db.mv.db
/db.trace.db
/app.log
/.ivy2/
/.sbt/
/dbsqlite
/misc/scripts/client/.versions.latest.file
/misc/scripts/client/failures.log
/misc/scripts/client/*.bkp
