# Scala CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/sample-config/ for more details
#
version: 2.1

orbs: 
  codecov: codecov/codecov@1.0.2 

jobs:
  build:
    docker:
      # specify the version you desire here
      - image: mauriciojost/scala-sbt-ci:openjdk8-scala2.12.8-sbt1.2.8-0.2.0

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.sbt" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: cat /dev/null | sbt -Dsbt.global.base=.sbt -Dsbt.boot.directory=.sbt -Dsbt.ivy.home=.ivy2 clean compile 


      - save_cache:
          paths:
            - ~/.m2
            - ~/.sbt
            - ~/.ivy2
          key: v1-dependencies--{{ checksum "build.sbt" }}

      # run tests! ensure environment COVERALLS_REPO_TOKEN matches https://coveralls.io/github/<ghuser>/<project-name>/settings token
      - run: cat /dev/null | set
      - run: cat /dev/null | env
      - run: cat /dev/null | sbt -Dsbt.color=always -Dsbt.global.base=.sbt -Dsbt.boot.directory=.sbt -Dsbt.ivy.home=.ivy2 clean "set every coverageEnabled := true" test coverageReport && sbt -Dsbt.color=always -Dsbt.global.base=.sbt -Dsbt.boot.directory=.sbt -Dsbt.ivy.home=.ivy2 coverageAggregate && sbt coverageReport coveralls

       - codecov/upload: file: target/scoverage.xml

